.board button{
  width: 100px;
  height: 100px;
  margin: 1px;
  border: black solid 2px;
  border-radius: 50%;
}

.board{
  margin-top: 15px;
}

.instructions{
  margin-bottom: 15px;
}

.scoreWraper{
  display: flex;
  justify-content: center;
}

.scoreLeft{
  float: left;
  margin-right: 50px;
}

.scoreRight{
  float: left;
}
